/*
  Steel Rumors theme by Arun Ravindran <http://arunrocks.com>
*/
@import url(http://fonts.googleapis.com/css?family=Passion+One);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 14px/21px Helvetica, Sans-Serif;
}

html {
    color: #111;
    background: #eee;
}

body {
    margin: 0 auto;
    min-height: 100%;
    position: relative;

    max-width: 600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #FF0031;
}

h1 {
    font-family: 'Passion One', cursive;
    font-weight: normal;
    padding: 15px 0 0 0;
    font-size: 3em;
    text-shadow: 1px 1px #000, 2px 2px #02a2fe, 3px 3px #02a2fe, 4px 4px #02a2fe, 5px 5px #02a2fe, 6px 6px #02a2fe;
}

a {
    background: #FFFF00;
    color: #00399C;
    text-decoration: none;
}

h2 a {
    background: transparent;
    color: #FF0031;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}